[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyarrow = "*"
pandas = "*"
awscli = "*"
jupyter = "*"
boto3 = "*"
pyyaml = "*"
pylint = "*"
moto = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.0"
